* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 100rem; /*1520*/
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}
h1 {
    text-align: center;
    font-size: 2rem;
}
.carousel {
    width: 95%;
    background-color: #24292f;
    margin: 0 auto;
    overflow: hidden;
}
input[name="slide"] {
    display: none;
}
.carousel__inner {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 600%;
}
.carousel__card {
    width: calc(100% / 6);
    padding: 0.7rem;
    transition: all 1s;
}
.carousel__card > img {
    border-radius: 0.5%;
    width: 100%;
    display: flex;
}

.titles__wrapper {
    overflow: hidden;
    width: 15rem;
}
.titles {
    width: 100%;
    display: flex;
}
.titles__item {
    width: 100%;
    padding: 1.5rem 0.6rem 0;
    font-size: 1.4rem;
    color: #ffffff;
    white-space: nowrap;
    flex-basis: 100%;
    flex-grow: 1;
    flex-shrink: 0;
    line-height: 2.8rem;
}

.dots {
    display: flex;
    width: 12.5rem;
    margin-left: auto;
    transform: translateY(-2.75rem);
}
.dots__dot {
    width: 100%;
    padding-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 1s;
}
.dots__dot:hover span {
    background: #ffffff;
    border-color: #ffffff;
    transition: all 1s;
}
.dots__dot:hover .active {
    background: transparent;
    border-color: #ffffff;
}

span {
    display: block;
    width: 1rem;
    padding: 0.4rem 0;
    border-radius: 50%;
    border: 0.15rem solid cornflowerblue;
    background: cornflowerblue;
    transition: all 1s;
}
span:hover {
    background: #ffffff;
    border-color: #ffffff;
}

/* start slide */
#slide-1:checked ~ .carousel__inner .slide-1 {
    margin-left: 0;
}
#slide-2:checked ~ .carousel__inner .slide-1 {
    margin-left: calc(-100%/6);
}
#slide-3:checked ~ .carousel__inner .slide-1 {
    margin-left: calc(-100%/6 * 2);
}
#slide-4:checked ~ .carousel__inner .slide-1 {
    margin-left: calc(-100%/6 * 3);
}
#slide-5:checked ~ .carousel__inner .slide-1 {
    margin-left: calc(-100%/6 * 4);
}
#slide-6:checked ~ .carousel__inner .slide-1 {
    margin-left: calc(-100%/6 * 5);
}
/* end slide */

/* start dots */
#slide-1:checked ~ .dots label:nth-child(1) span {
    background: transparent;
    transition: all 1s;
}
#slide-2:checked ~ .dots label:nth-child(2) span {
    background: transparent;
    transition: all 1s;
}
#slide-3:checked ~ .dots label:nth-child(3) span {
    background: transparent;
    transition: all 1s;
}
#slide-4:checked ~ .dots label:nth-child(4) span {
    background: transparent;
    transition: all 1s;
}
#slide-5:checked ~ .dots label:nth-child(5) span {
    background: transparent;
    transition: all 1s;
}
#slide-6:checked ~ .dots label:nth-child(6) span {
    background: transparent;
    transition: all 1s;
}
    /* and dots */


@media (max-width: 767px) {
    h1 {
        font-size: 1.5rem;
    }
    .titles__item {
        font-size: 1.2rem;
        line-height: 1.7rem;
        transform: translateY(2rem);
    }
    .controls {
        padding: 1rem 0.6rem 2.5rem;
    }
    .dots {
        margin: 0 auto;
    }
}