* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 100rem; /*1520*/
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}
h1 {
    text-align: center;
    font-size: 2rem;
}
.carousel {
    width: 100%;
}
.wrapper {
    width: 95%;
    background-color: #24292f;
    margin: 0 auto;
    overflow: hidden;
}
.carousel__inner {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 300%;
    transform: translateX(calc(-100%/3));
}
.carousel__card {
    width: calc(100% / 3);
    padding: 0.7rem;
}
.carousel__card > img {
    border-radius: 0.5%;
    width: 100%;
    display: flex;
}

.controls {
    width: 100%;
    padding: 1.5rem 0.6rem 3rem;
    display: flex;
}
.titles__wrapper {
    overflow: hidden;
    width: 15rem;
}
.titles {
    width: 100%;
    display: flex;
    transform: translateX(-100%);
}
.titles__item {
    font-size: 1.4rem;
    color: #ffffff;
    white-space: nowrap;
    flex-basis: 100%;
    flex-grow: 1;
    flex-shrink: 0;
    line-height: 2.8rem;
}

.dots {
    display: flex;
    width: 12.5rem;
    margin-left: auto;
}
.dots__dot {
    width: 100%;
    padding-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
    transition: all 1s;
}
.dots__dot:hover span {
    background: #ffffff;
    border-color: #ffffff;
    transition: all 1s;
}
.dots__dot:hover .active {
    background: transparent;
    border-color: #ffffff;
}

span {
    display: block;
    width: 1rem;
    padding: 0.4rem 0;
    border-radius: 50%;
    border: 0.15rem solid cornflowerblue;
    background: cornflowerblue;
    transition: all 1s;
}
span:hover {
    background: #ffffff;
    border-color: #ffffff;
}

.active {
    background: transparent;
    transition: all 1s;
}
.active:hover {
    background: transparent;
    border-color: #ffffff;
}


/* Анимация для большого слайда */
@keyframes move-right {
    from { transform: translateX(calc(-100%/3)); }
    to { transform: translateX(calc(-100%/3 * 2)); }
}
.transition-right { /* именно этот класс добавить блоку carousel__inner */
    animation-name: move-right;
    animation-duration: 2.5s;
}

@keyframes move-left {
    from { transform: translateX(calc(-100%/3)) }
    to { transform: translateX(0) }
}
.transition-left {
    animation-name: move-left; /* именно этот класс добавить блоку carousel__inner */
    animation-duration: 2.5s;
}
/* Конец анимации для большого слайда */




/* Анимация для заголовка */
@keyframes move-right-title {
    from { transform: translateX(-100%); }
    to { transform: translateX(-200%); }
}
.transition-right-title { /* именно этот класс добавить блоку titles */
    animation-name: move-right-title;
    animation-duration: 2.5s;
}

@keyframes move-left-title {
    from { transform: translateX(-100%) }
    to { transform: translateX(0) }
}
.transition-left-title {
    animation-name: move-left-title; /* именно этот класс добавить блоку titles */
    animation-duration: 2.5s;
}
/* Конец анимации для заголовка */


@media (max-width: 767px) {
    h1 {
        font-size: 1.5rem;
    }
    .titles__item {
        font-size: 1.2rem;
        line-height: 1.7rem;
    }
    .controls {
        flex-direction: column-reverse;
        padding: 1rem 0.6rem 2.5rem;
    }
    .dots {
        margin: 0 auto;
    }
}
